*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------- 
Header starts here
----------------------*/
.container{
    max-width: 1000px;
    background-color:#D7E9E9;
    margin: 0 auto;
    padding: 20px;
}

header{

}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid rgb(204, 195, 195);
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: teal;
}
.header-contact{
    float: right;
    padding: 30px;
    
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;

}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}

/*-------------------- 
Header ends here
----------------------*/

.div-clear{
    clear: both;
}


hr{
    border: 3px solid black;
    margin: 20px auto;
    border-bottom: none;
}

/*--------------------------
personal section starts here
---------------------------*/

#personal-section{

}
.content{
    margin: 20px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
    text-align: justify;

}

.common-hr{
    border: 1px solid black;
    border-bottom: none;
    margin: 20 auto;
    width: 100%;
}

/*--------------------------
Education section starts here
---------------------------*/

.edu-div-left{
    float: left;
    width: 45%;
    padding: 5px;

}

.edu-div-right{
    float: right;
    width: 45%;
    padding: 5px;

}